.header {
 display: grid;
 grid-template-columns: 1fr min-content 1fr;
 align-items: center;
 margin: 92px 24px 96px 24px;
 height: 105px;
 font-weight: 400;
 font-size: 18px;
}

h2 {
  color: black;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  line-height: 46.69px;
}

 .header_logo img {
  justify-self: center;
  object-fit: contain;
  max-height: 100%;
  width: 148px;
  height: 105px;
 }

.header_menu {
letter-spacing: 0px;
}

.header_menu-list {
  justify-self: start;
  display:flex;
  padding-left: 26.52px;
  gap:30px;
  list-style:circle;
  line-height: 21.13px;
  letter-spacing: 0.01em;
 }

 
 .header_menu-item {
  text-decoration: underline;
  text-underline-offset:5px;
 }

 .header_menu-item_active {
  list-style: none;
  text-decoration: none;
}

 .address {
  justify-self: end;
  padding-right: 65px;
  font-style: normal;
  line-height: 24.3px;
  text-underline-offset:5px;
 }

.cover {
  height: 757px;
  background: url(../images/cover.jpg);
  background-color: rgba(0,0,0,0.6);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
}

.cover_title {
  width:fit-content;
  padding: 165px 50px 125px;
  width: 1100px;
}

.cover_title span {

  color: white;
  font-weight: 700;
  font-size: 100px;
  line-height: 115px;
  text-transform: uppercase;
  display: flex;
  gap: 20px;
}
.cover_title_spacing-large {
  letter-spacing: 0.6em;
}

.cover_title_spacing-normal {
  letter-spacing: 0.3em;
}

.cover_title_spacing-none {
  letter-spacing: 0px;
}

.cover_text-left {
  display: flex;
  justify-content: start;
  margin-bottom: 12px;
}

.cover_text-center {
  display: flex;
  justify-content:center;
  margin-bottom: 8px;
}

.cover_text-right {
  display: flex;
  justify-content: end;
}

.cover_subline {
  padding-right: 50px;
  padding-left: 78px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cover_subline_text {
  text-transform: uppercase;
  word-spacing: 18.41px;
  color: white;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
}

.cover_subline_button {
  display: flex;
  justify-content: center;
  width: 256px;
  height: 51px;
  text-transform: uppercase;
  border: 1px solid white;
  color: white;
  font-weight: 500;
  font-size: 22px;
  line-height: 25.83px;
  align-items: center;
}

.lots {
  color: white;
  padding: 179px 24px 146px;
}

.lots_card-list {
  padding: 10px 0px 30px;
  display: flex;
  gap: 25px;
}

.lots-header {
  padding-left: 40px;
}

.card {
  padding: 52px 40px 48px;
  height: 563px;
  width: 334px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-color: rgba(0,0,0,0.6);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
  background-color: rgba(0,0,0,0.6);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  background-color: rgba(0,0,0,0.6);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
}

.card__title {
  font-size: 22px;
  line-height: 26.4px;
  text-transform: uppercase;
  text-decoration: underline;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.lots_look-more-link {
  padding:0px 0px 148px 40px;
  color: black;
  text-transform: lowercase;
  text-decoration: underline;
  font-weight: 400;
  font-size: 20px;
  line-height: 23.48px;
}

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 0px 24px;

}

.about_logo {
  display: flex;
  justify-content:center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: black;
  margin: 35px 0px 0px 47px;
 }

 .about_logo img {
  width: 148px;
  height: 114px;
 }

.about_column {
  align-self: end;
  justify-self: end;
}

 .about_title {
  padding: 136px 0px 100px;
 }

 .about_text {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.01em;
 }

 .about_text+.about_text {
  margin-top: 24px;
 }

 .footer {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  padding: 180px 50px 88px;
  font-weight: 400;
  font-size: 18px;
 }

 .footer_menu-list {
  justify-self: center;
  display:flex;
  flex-direction: column;
  list-style: none;
  text-align: center;
  width: 150px;

 }

 footer .address {
  justify-self: start;
 }

 .footer_social-list {
  justify-self: end;
  display: flex;
  justify-content: space-between;
  gap: 48px;
 }

 .footer_social-icon {
  width: 48px;
  height: 48px;
 }

 .footer_menu-item_active {
  text-decoration: none;
}

 .footer_menu-item {
  text-decoration: underline;
  text-underline-offset:5px;
 }

 